:root {
  font-family: "Cormorant Garamond", "Times New Roman", Times, serif, system-ui,
    Avenir, Helvetica, Arial, sans-serif;

  // FONT--FAMILIES
  --fontFamily-cormorant: "Cormorant Garamond";
  --fontFamily-historic: historic;
  --fontFamily-sometimes: sometimes;
  --fontFamily-quivira: quivira;
  --fontFamily-diphylleia: "Diphylleia", serif;
  --fontFamily-condiment: "Condiment", cursive;
  --fontFamily-grechen: "Grechen Fuemen", cursive;

  // FONT--SIZES
  --fontSize_title: 3rem;

  // FONT--WEIGHTS
  --fontWeight_100: 100;
  --fontWeight_200: 200;
  --fontWeight_300: 300;

  // FONT--COLORS
  --title_color: rgb(241, 241, 241);
  --links_color: grey;

  // LETTER--SPACING
  --letter_spacing_10: 20px;
}

@font-face {
  font-family: "quivira";
  src: url("/fonts/quivira.regular.otf") format("opentype");
}
@font-face {
  font-family: "happy";
  src: url("/fonts/happy-times-at-the-ikob.regular.otf") format("opentype");
}
@font-face {
  font-family: "historic";
  src: url("/fonts/historic-times.regular.otf") format("opentype");
}
@font-face {
  font-family: "sometimes";
  src: url("/fonts/sometimes.regular.otf") format("opentype");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: var(--fontFamily-cormorant);
}

body {
  background-image: url("../assets/everest-contrast.jpg");
  background-size: 100%;
}

li {
  list-style: none;
}
