.ul {
  position: absolute;
  z-index: 99;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 50px;

  font-family: var(--fontFamily-nav);
  font-size: var(--fontSize-nav);
  color: var(--fontNav-color);
}

.li {
  color: black;
  &:hover {
    cursor: pointer;
    color: white;
    text-decoration: underline;
  }
}
