@media (min-width: 1300px) {
  .canvas {
    position: relative;
    height: clamp(750px, 70%, 850px);
    width: clamp(768px, 80%, 1570px);

    background-image: url("../../assets/everest_2.jpg");
    background-position: top -60px left 0px;
    background-size: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 20px;

    overflow: hidden;
  }

  .ring {
    position: absolute;
    position: relative;
    width: 850px;
    height: 850px;

    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    border: 190px solid rgba(43, 76, 111, 0.05);

    &::before {
      content: "";
      position: absolute;

      width: 100%;
      height: 100%;
      border: 2.25px solid rgba(255, 255, 255, 0.394);
      border-radius: 50%;
    }
  }
}
