.canvas {
  position: relative;
  height: 70%;
  width: 80%;
  // position: absolute;

  background-image: url("../../assets/everest.jpg");
  background-position: top -60px left 0px;
  background-size: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 20px;

  display: grid;
  place-items: center;

  font-family: var(--fontFamily_historic);
  font-size: 5.5rem;
  font-weight: 100;
  color: var(--title_color);
  letter-spacing: 70px;

  // mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0.5) 50%);
  // mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><circle cx='50' cy='50' r='40' fill='white'/></svg>")
  //   center/contain no-repeat;

  &:before {
    content: "";
    position: absolute;
    height: 400px;
    width: 400px;

    background-image: linear-gradient(in oklab, #808080, transparent);
    border-radius: 50%;
    background-color: white;
    opacity: 0.2;
    outline: 1.5px solid rgb(255, 255, 255);
  }
}
