.canvas {
  position: relative;
  height: 70%;
  width: clamp(768px, 80%, 1570px);

  background-image: url("../../assets/everest_2.jpg");
  background-position: top -60px left 0px;
  background-size: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 20px;

  display: grid;
  place-items: center;

  overflow: hidden;

  // &::before {
  //   // content: "";
  //   // position: absolute;
  //   // height: 400px;
  //   // width: 400px;

  //   // background-image: linear-gradient(in oklab, #9fc5f3, transparent);
  //   // border-radius: 50%;
  //   // background-color: white;
  //   // opacity: 0.2;
  //   // outline: 2px solid #ffffff;
  // }
}

.ring {
  position: absolute;
  width: 400px;
  height: 400px;
  position: relative;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5); /* Shadow for transparency effect */

  &::before {
    content: "";
    position: absolute;
    top: 50%;

    translate: translatey();
    // top: 50px;
    // left: 50px;
    // width: calc(100% - 100px);
    // height: calc(100% - 100px);
    border: 2px solid white;
    border-radius: 50%;
  }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: 20px; /* Adjust as needed for the outer border thickness */
  //   left: 20px; /* Adjust as needed for the outer border thickness */
  //   width: calc(
  //     100% - 40px
  //   ); /* Adjust as needed for the outer border thickness */
  //   height: calc(
  //     100% - 40px
  //   ); /* Adjust as needed for the outer border thickness */
  //   border: 2px solid white; /* Outer border color */
  //   border-radius: 50%;
  // }
}
